# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Programs/BoletoEstadio1/nbproject/private/
/Programs/BoletoEstadio1/build/
/Programs/ConvertidorTemp1/nbproject/private/
/Programs/ConvertidorTemp1/build/
/Programs/CuotaFija1/nbproject/private/
/Programs/CuotaFija1/build/
/Programs/ValidarOrden1/nbproject/private/
/Programs/ValidarOrden1/build/
/Programs/NumeroMayor1/nbproject/private/
/Programs/NumeroMayor1/build/
/Programs/DiasMes1/nbproject/private/
/Programs/DiasMes1/build/
/Programs/CalculoIMC3/nbproject/private/
/Programs/CalculoIMC3/build/
/Programs/Bisiesto1/nbproject/private/
/Programs/Bisiesto1/build/
/Programs/BoletoAutobus1/nbproject/private/
/Programs/BoletoAutobus1/build/
/Programs/AptitudSufragar1/nbproject/private/
/Programs/AptitudSufragar1/build/
/Programs/MenuOpciones1/nbproject/private/
/Programs/MenuOpciones1/build/
/Programs/MenuOpciones2/nbproject/private/
/Programs/MenuOpciones2/build/
/Programs/ListarNumNat1/nbproject/private/
/Programs/ListarNumNat1/build/
/Programs/SumarNumNat1/nbproject/private/
/Programs/SumarNumNat1/build/
/Programs/ListaImpares1/nbproject/private/
/Programs/ListaImpares1/build/
/Programs/ListaImpares2/nbproject/private/
/Programs/ListaImpares2/build/
/Programs/ValidaFecha1/nbproject/private/
/Programs/ValidaFecha1/build/
/Programs/EstadNumeros1/nbproject/private/
/Programs/EstadNumeros1/build/
/Programs/DuracionDescarga1/nbproject/private/
/Programs/DuracionDescarga1/build/
/Programs/EstadViaje1/nbproject/private/
/Programs/EstadViaje1/build/
/Programs/ValidaDivisor1/nbproject/private/
/Programs/ValidaDivisor1/build/
/Programs/BoletoEstadio3/nbproject/private/
/Programs/BoletoEstadio3/build/
/Programs/Calculadora1/nbproject/private/
/Programs/Calculadora1/build/
/Programs/PromedioPares1/nbproject/private/
/Programs/PromedioPares1/build/
/Programs/EstadNumeros3/nbproject/private/
/Programs/EstadNumeros3/build/
/Programs/Mult3Pares1/nbproject/private/
/Programs/Mult3Pares1/build/
/Programs/Primo1/nbproject/private/
/Programs/Primo1/build/
/Programs/Primo2/nbproject/private/
/Programs/Primo2/build/
/Programs/Venta2/nbproject/private/
/Programs/Venta2/build/
/Programs/Factorial1/nbproject/private/
/Programs/Factorial1/build/
/Programs/EstadNumeros2/nbproject/private/
/Programs/EstadNumeros2/build/
/Programs/NumPerfecto1/nbproject/private/
/Programs/NumPerfecto1/build/
/Programs/MenuOpciones3/nbproject/private/
/Programs/MenuOpciones3/build/
/Programs/RecorridoMatriz1/nbproject/private/
/Programs/RecorridoMatriz1/build/
/Programs/RecorridoMatriz2/nbproject/private/
/Programs/RecorridoMatriz2/build/
/Programs/EstadMatriz1/nbproject/private/
/Programs/EstadMatriz1/build/
/Programs/Fibonacci1/nbproject/private/
/Programs/Fibonacci1/build/
/Programs/ListaNumPrimos1/nbproject/private/
/Programs/EdadExacta1/nbproject/private/
/Programs/EdadExacta1/build/
/Programs/EstadNumeros4/nbproject/private/
/Programs/EstadNumeros4/build/
/Programs/ListaNumAbundantes1/nbproject/private/
/Programs/ListaNumAbundantes1/build/
/Programs/BusquedaRepetidos1/nbproject/private/
/Programs/BusquedaRepetidos1/build/
/Programs/SueldoMasAlto1/nbproject/private/
/Programs/SueldoMasAlto1/build/
/Programs/ListaNumPrimos1/build/
/Programs/Venta3/nbproject/private/
/Programs/Venta3/build/
/Programs/SaludoDespedida1/nbproject/private/
/Programs/SaludoDespedida1/build/
/Programs/OperarNumero1/nbproject/private/
/Programs/OperarNumero1/build/
/Programs/Primo4/nbproject/private/
/Programs/Primo4/build/
/Programs/ListaNumPrimos2/nbproject/private/
/Programs/ListaNumPrimos2/build/
/Programs/CuentaCifras1/nbproject/private/
/Programs/CuentaCifras1/build/
/Programs/DecimalABinario1/nbproject/private/
/Programs/DecimalABinario1/build/
/Programs/SeriePi2/nbproject/private/
/Programs/SeriePi2/build/
/Programs/ListaCuadradosPerfectos1/nbproject/private/
/Programs/ListaCuadradosPerfectos1/build/
/Programs/Venta5/nbproject/private/
/Programs/Venta5/build/
/Programs/SumatoriaMatriz1/nbproject/private/
/Programs/SumatoriaMatriz1/build/
/Programs/SumatoriaMatriz2/nbproject/private/
/Programs/SumatoriaMatriz2/build/
/Programs/Circulo2/nbproject/private/
/Programs/ListaFactorial1/nbproject/private/
/Programs/ListaFactorial1/build/
/Programs/ListaFactorial1/dist/
/Programs/Factorial3/nbproject/private/
/Programs/Factorial3/build/
/Programs/Potencia1/nbproject/private/
/Programs/Potencia1/build/
/Programs/Potencia2/nbproject/private/
/Programs/Potencia2/build/
/Programs/Provincias1/nbproject/private/
/Programs/Provincias1/build/
/Programs/Provincias2/nbproject/private/
/Programs/Provincias2/build/
/Programs/NumeroCapicua1/nbproject/private/
/Programs/NumeroCapicua1/build/
/Programs/NumeroCapicua1/dist/
/Programs/SeriePiWallis1/nbproject/private/
/Programs/SeriePiWallis1/build/
/Programs/PiramideInvertida1/nbproject/private/
/Programs/PiramideInvertida1/build/
/Programs/PromedioColMatriz1/nbproject/private/
/Programs/PromedioColMatriz1/build/
/Programs/OrdenarNumeros1/nbproject/private/
/Programs/OrdenarNumeros1/build/
/Programs/ListaNumAbundantes2/nbproject/private/
/Programs/ListaNumAbundantes2/build/
/Programs/CuentaPrimos2/nbproject/private/
/Programs/CuentaPrimos2/build/
/Programs/DecimalABinario2/nbproject/private/
/Programs/DecimalABinario2/build/
/Programs/SumarVectores1/nbproject/private/
/Programs/SumarVectores1/build/
/Programs/MultiplicaMatriz1/nbproject/private/
/Programs/MultiplicaMatriz1/build/
/Programs/Ciudades1/nbproject/private/
/Programs/Ciudades1/build/
/Programs/Ciudades2/nbproject/private/
/Programs/Ciudades2/build/
/Programs/InvertirVector1/nbproject/private/
/Programs/InvertirVector1/build/
/Programs/SerieDiferenciaPrimos1/nbproject/private/
/Programs/SerieDiferenciaPrimos1/build/
/Programs/OrdenarNumeros2/nbproject/private/
/Programs/OrdenarNumeros2/build/
/Programs/OcurrenciasEnVector1/nbproject/private/
/Programs/OcurrenciasEnVector1/build/
/Programs/MuestraPrimos1/nbproject/private/
/Programs/MuestraPrimos1/build/
/Programs/Fibonacci2/nbproject/private/
/Programs/Fibonacci2/build/
/Programs/DecimalABinario3/nbproject/private/
/Programs/DecimalABinario3/build/
/Programs/DecimalABinario3/dist/
/Programs/Personas4/nbproject/private/
/Programs/Personas4/build/
/Programs/ProgramacionDefensiva/nbproject/private/
/Programs/ProgramacionDefensiva/build/
/Programs/ProvinciasEcuador1/nbproject/private/
/Programs/ProvinciasEcuador1/build/
/Programs/EstadisticasVector1/nbproject/private/
/Programs/EstadisticasVector1/build/
/Programs/EstadisticasVector1/dist/
/Programs/MisLibrerias/nbproject/private/
/Programs/MisLibrerias/dist/
/Programs/MisLibrerias/build/
/Programs/ParesEnVector1/nbproject/private/
/Programs/ParesEnVector1/build/
/Programs/SumaDigitos1/nbproject/private/
/Programs/SumaDigitos1/build/
/Programs/MaximoComunDivisor1/nbproject/private/
/Programs/MaximoComunDivisor1/build/
/Programs/MaximoComunDivisor2/nbproject/private/
/Programs/MaximoComunDivisor2/build/
/Programs/MaximoComunDivisor3/nbproject/private/
/Programs/MaximoComunDivisor3/build/
/Programs/Paises1/nbproject/private/
/Programs/Paises1/build/
/Programs/Personas5/nbproject/private/
/Programs/Personas5/build/
